<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMZ TV</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="content-container">
        <div
          class="featured-content"
          style="
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
              url('images/bk.jpg');
          "
        >
          <img class="featured-title" src="images/14.jpg" alt="" />
          <p class="featured-desc">
            Ten-year-old Chihiro and her parents end up at an abandoned
            amusement park inhabited by supernatural beings. Soon, she learns
            that she must work to free her parents who have been turned into
            pigs.
          </p>
          <a href="/movie/detail?title=Spirited Away" class="featured-button"
            >WATCH</a
          >
        </div>

        <div class="movie-list-container">
          <h1 class="movie-list-title">NEW RELEASES</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              <% movies.forEach(function(movie) { %>
              <div class="movie-list-item">
                <img
                  class="movie-list-item-img"
                  src="<%= movie.poster %>"
                  alt="<%= movie.title %>"
                />
                <span class="movie-list-item-title"><%= movie.title %></span>
                <p class="movie-list-item-desc"><%= movie.description %></p>
                <a
                  class="movie-list-item-button"
                  href="/movie/detail?title=<%= movie.title %>"
                  >Watch</a
                >
              </div>
              <% }); %>
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>

        <div class="movie-list-container">
          <h1 class="movie-list-title">ANIME</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              <% movies.forEach(function(movie) { if(movie.genre === "Anime"){
              %>

              <div class="movie-list-item">
                <img
                  class="movie-list-item-img"
                  src="<%= movie.poster %>"
                  alt="<%= movie.title %>"
                />
                <span class="movie-list-item-title"><%= movie.title %></span>
                <p class="movie-list-item-desc"><%= movie.description %></p>
                <a
                  class="movie-list-item-button"
                  href="/movie/detail?title=<%= movie.title %>"
                  >Watch</a
                >
              </div>
              <% }}); %>
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>

        <div class="movie-list-container">
          <h1 class="movie-list-title">Animated</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              <% movies.forEach(function(movie) { if(movie.genre ===
              "Animated"){ %>

              <div class="movie-list-item">
                <img
                  class="movie-list-item-img"
                  src="<%= movie.poster %>"
                  alt="<%= movie.title %>"
                />
                <span class="movie-list-item-title"><%= movie.title %></span>
                <p class="movie-list-item-desc"><%= movie.description %></p>
                <a
                  class="movie-list-item-button"
                  href="/movie/detail?title=<%= movie.title %>"
                  >Watch</a
                >
              </div>
              <% }}); %>
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>

        <div class="movie-list-container">
          <h1 class="movie-list-title">ACTION/THRILER</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              <% movies.forEach(function(movie) { if(movie.genre === "Action"){
              %>

              <div class="movie-list-item">
                <img
                  class="movie-list-item-img"
                  src="<%= movie.poster %>"
                  alt="<%= movie.title %>"
                />
                <span class="movie-list-item-title"><%= movie.title %></span>
                <p class="movie-list-item-desc"><%= movie.description %></p>
                <a
                  class="movie-list-item-button"
                  href="/movie/detail?title=<%= movie.title %>"
                  >Watch</a
                >
              </div>
              <% }}); %>
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>

        <div class="movie-list-container">
          <h1 class="movie-list-title">HORROR</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              <% movies.forEach(function(movie) { if(movie.genre === "Horror"){
              %>

              <div class="movie-list-item">
                <img
                  class="movie-list-item-img"
                  src="<%= movie.poster %>"
                  alt="<%= movie.title %>"
                />
                <span class="movie-list-item-title"><%= movie.title %></span>
                <p class="movie-list-item-desc"><%= movie.description %></p>
                <a
                  class="movie-list-item-button"
                  href="/movie/detail?title=<%= movie.title %>"
                  >Watch</a
                >
              </div>
              <% }}); %>
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>

        <div class="movie-list-container">
          <h1 class="movie-list-title">COMEDY</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              <% movies.forEach(function(movie) { if(movie.genre === "Comedy"){
              %>

              <div class="movie-list-item">
                <img
                  class="movie-list-item-img"
                  src="<%= movie.poster %>"
                  alt="<%= movie.title %>"
                />
                <span class="movie-list-item-title"><%= movie.title %></span>
                <p class="movie-list-item-desc"><%= movie.description %></p>
                <a
                  class="movie-list-item-button"
                  href="/movie/detail?title=<%= movie.title %>"
                  >Watch</a
                >
              </div>
              <% }}); %>
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>
      </div>
    </div>
    <script src="/app.js"></script>
  </body>
</html>
