<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <title>IMZ TV</title>
</head>

<body>
    <!-- <div class="navbar"> -->
    <div class="navbar-container">
        <div class="logo-container">
            <h1 class="logo">IMZ.TV</h1>
        </div>
        <div class="menu-container">
            <ul class="menu-list">
                <a class="noStyle" href="/">
                    <li class="menu-list-item active">Home</li>
                </a>
                <% if (user) { %>
                    <a href="/user/update?id=<%= user._id %>" class="noStyle">
                        <li class="menu-list-item ">Profile</li>
                    </a>
                    <% } %>

                        <% if (user) { %>
                            <% if(user.email==="zara.qassab@gmail.com" || user.email==='sayedmohamed11577@gmail.com' ||
                                user.email==="isa.al.eid@gmail.com" ) { %>
                                <a href="/movie/add" class="noStyle">
                                    <li class="menu-list-item">Add Movie</li>
                                </a>
                                <a href="/movie/delete?id=<%= user._id %>" class="noStyle">
                                    <li class="menu-list-item">Delete Movie</li>
                                </a>
                                <% }} %>
                                    <% if(!user) {%>
                                        <a href="/auth/google" id="signin">
                                            <li class="menu-list-item">Signin</li>
                                        </a>
                                        <% } %>
                                            <% if (user) { %>
                                                <a href="/movie/review?id=<%= user._id %>" class="noStyle">
                                                        <li class="menu-list-item">Add Movie</li>
                                                    </a>
                                                <a href="/logout" class="menu-list-item" id="signin">Logout</a>
                                                <% } %>

            </ul>
        </div>
        <div class="toggle">
            <i class="fas fa-moon toggle-icon"></i>
            <i class="fas fa-sun toggle-icon"></i>
            <div class="toggle-ball"></div>
        </div>
    </div>
    <!-- </div> -->
    </div>
    <div class="sidebar">
        <a href="/"><i class="left-menu-icon fas fa-home"></i></a>
        <% if (user) { %>
            <a href="/user/update?id=<%= user._id %>"><i class="left-menu-icon fas fa-user"></i></a>
            <a href="/movie/review?id=<%= user._id %>"><i class="left-menu-icon fas fa-star"></i></a>
            <a href="/movie/delete?id=<%= user._id %>"><i class="left-menu-icon fas fa-trash"></i></a>
            <% } %>
                <% if (user) { %>
                    <% if(user.email==="zara.qassab@gmail.com" || user.email==='sayedmohamed11577@gmail.com' ||
                        user.email==="isa.al.eid@gmail.com" ) { %>
                        <a href="/movie/add"><i class="left-menu-icon fas fa-plus"></i></a>
                        <% }} %>
    </div>


    <%- body %>

        <script src="/app.js"></script>
</body>
<footer class="fixed-bottom">
    IMZ.TV © 2024 <br>
    <a href="mailto:zara.qassab@gmail.com">zara.qassab@gmail.com</a> <br>
    <a href="mailto:isa.al.eid@gmail.com">isa.al.eid@gmail.com</a> <br>
    <a href="mailto:sayedmohamed11577@gmail.com">sayedmohamed11577@gmail.com</a>
</footer>


</html>